<div class="body" style="overflow-y: hidden">
  <header class="header justify-content-between align-items-center">
    <a [routerLink]="[ '/']" class="logo">Luisgustavosc</a>
    <input class="menu-btn" type="checkbox" id="menu-btn" />
    <label class="menu-icon" for="menu-btn">
      <div class="hamburger">
        <div class="line1"></div>
        <div class="cross1"></div>
        <div class="cross2"></div>
        <div class="line2"></div>
      </div>
    </label>
    <ul class="menu nav">
      <li><a class="navegacion" [ngx-scroll-to]="'#profile'">Sobre mí</a></li>
      <li> <a class="navegacion" [ngx-scroll-to]="'#portfolio'">Mi trabajo</a></li>
      <li> <a [ngx-scroll-to]="'#contact'" class="d-flex align-items-center navegacion">Contacto</a>
      </li>
      <li> <a [routerLink]="['']">English</a></li>
    </ul>
  </header>


  <div id="carousel" class="carousel slide carousel-fade" data-pause="false" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img [src]="'assets/web/bg-movil.png'" class="d-block d-md-block d-lg-none" alt="fondo principal">
        <video loop muted autoplay [src]="'assets/video/video1.mp4'" class="d-none d-md-none d-lg-block"></video>
        <div class="overlay">
          <div class="container">
            <div class="row align-items-center">
              <div class="col-lg-6 text-center mx-auto">
                <h1 class="tituloCarousel">
                  Hola! soy <span>Luis G</span>, soy
                  <span>desarrollador web</span>
                </h1>
              </div>
              <div class="col-lg-6 ">
                <p class="descripCarousel text-center mx-auto">
                  Soy un <span>desarrollador front-end </span> apasionado por la tecnología y todo lo relacionado al
                  análisis, diseño
                  y desarrollo de sitios web interactivos y de
                  alto rendimiento, que funcionen en todas las plataformas y dispositivos. Aquí puedes encontrar
                  algunos
                  de mis trabajos realizados.
                </p>
                <button [ngx-scroll-to]="'#portfolio'" class="buttonTypeOne" mat-button>

                  Ver mi trabajo<i class="material-icons">
                    arrow_right_alt
                  </i>
                </button>
              </div>
              <div class="redesSociales">
                <a matTooltipClass="social-media-tooltip" matTooltip="Luis Gustavo" target="_blank" class="fab fa-facebook-f"
                  href="https://www.facebook.com/luisgustavo.sanchezcabrera"></a>
                <a matTooltipClass="social-media-tooltip" matTooltip="@luisgustavosc" target="_blank" class="fab fa-instagram"
                  href="https://www.instagram.com/luisgustavosc/"></a>
                <a matTooltipClass="social-media-tooltip" matTooltip="@LuisGustavosc21" target="_blank" class="fab fa-twitter"
                  href="https://twitter.com/LuisGustavosc21"></a>
                  <a matTooltipClass="social-media-tooltip" matTooltip="Luisgustavosc" target="_blank" class="fab fa-linkedin-in"
                  href="https://www.linkedin.com/in/luisgustavosc/"></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <main>
    <section id="profile" data-aos="fade-up" class="profile container-fluid">
      <h2>Mi perfil</h2>
      <!-- <mat-card class="mb-3 row cardGeneral d-flex justify-content-around align-items-center">
        <img data-aos="fade-right" mat-card-image [src]="'assets/svg/analysis.svg'" class="py-5 col-lg-6">
        <mat-card data-aos="fade-left" class="card-info-datos col-lg-4">
          <mat-card-header class="d-block d-sm-flex text-center mt-3 justify-content-center align-items-center">
            <img mat-card-avatar [src]="'assets/web/me.png'" alt="foto de mi">
            <mat-card-title>Luis Gustavo Sánchez</mat-card-title>
            <mat-card-subtitle>Desarrollador web front-end</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table class="table">
              <tbody>
                <tr>
                  <td><i class="material-icons">
                      account_circle
                    </i>Nacimiento:</td>
                  <td>Septiembre 21, 1999</td>
                </tr>
                <tr>
                  <td><i class="material-icons">
                      person_pin_circle
                    </i>Dirección</td>
                  <td>Orlando - FL</td>
                </tr>
                <tr>
                  <td><i class="material-icons">
                      email
                    </i>Email</td>
                  <td> <a href="mailto:lgsc2109@gmail.com">Lgsc2109@gmail.com</a> </td>
                </tr>
                <tr>
                  <td><i class="material-icons">
                      web
                    </i>Sitio web</td>
                  <td>luisgustavosc.com</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </mat-card> -->
      <mat-card data-aos="fade-up" class=" row cardGeneral d-flex justify-content-around align-items-center">
        <mat-card data-aos="fade-left" class="card-info-datos col-lg-4">
          <mat-card-header class="d-block d-sm-flex text-center mt-3 justify-content-center align-items-center">
            <img mat-card-avatar [src]="'assets/web/me.jpg'" alt="foto de mi">
            <mat-card-title>Luis Gustavo Sánchez</mat-card-title>
            <mat-card-subtitle>Desarrollador web front-end</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <table class="table">
              <tbody>
                <tr>
                  <td><i class="material-icons">
                      account_circle
                    </i>Nacimiento:</td>
                  <td>Septiembre 21, 1999</td>
                </tr>
                <tr>
                  <td><i class="material-icons">
                      person_pin_circle
                    </i>Dirección</td>
                  <td>Orlando - FL</td>
                </tr>
                <tr>
                  <td><i class="material-icons">
                      email
                    </i>Email</td>
                  <td> <a href="mailto:lgsc2109@gmail.com">Lgsc2109@gmail.com</a> </td>
                </tr>
                <tr>
                  <td><i class="material-icons">
                      web
                    </i>Sitio web</td>
                  <td>luisgustavosc.com</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
        <mat-card-content class="mt-4 mt-lg-0 col-lg-6 p-0">
          <p>Soy un diseñador y desarrollador web front-end originario de Venezuela y resido actualmente en Orlando,
            Florida. Me agrada estar en constante aprendizaje y por ello siempre estoy en la búsqueda de conocer
            diversos lenguajes y formas creativas para ampliar mis conocimientos sobre el código en el front-end del
            sitio web, que a su vez mejore siempre la interfaz de usuario.</p>
          <br>
          <p>
            Soy un entusiasta, que busca siempre dar lo mejor de mí, y construir el mejor trabajo posible. Aunque estoy
            familiarizado con el uso de frameworks como angular, mis sitios web están principalmente codificados con
            HTML5,
            CSS3 y JavaScript.
          </p>
          <br>
          <p> Me comprometo al máximo con cada proyecto que realizo y me gusta mejorar progresivamente con cada
            trabajo, asegurándome de que cada aspecto del mismo se produzca con la más alta calidad.
          </p>
        </mat-card-content>
      </mat-card>
    </section>

    <section data-aos="fade-up" id="portfolio" class="portfolio container-fluid">
      <h2>Mi Portafolio</h2>
      <div class="row">

        <div data-aos="fade-up-right" class="cardPortfolio col-lg-6 d-flex justify-content-center">
          <figure class="work">
            <img [src]="'assets/portfolio/pidespeed.png'" alt="capture" />
            <figcaption>
              <div>
                <h5>Pide <span>Speed</span></h5>
                <p>Desarrollo y diseño web
                  <a arget="_blank" href="https://pidespeed.com/" class="d-block">Visitar sitio web</a>
                </p>
              </div>
            </figcaption>
          </figure>
        </div>

        <div data-aos="fade-up-left" class="cardPortfolio col-lg-6 d-flex justify-content-center">
          <figure class="work">
            <img [src]="'assets/portfolio/develdesigns.png'" alt="capture" />
            <figcaption>
              <div>
                <h5>Devel <span>Designs</span></h5>
                <p>Desarrollo y diseño web
                  <a class="d-block" target="_blank" href="https://develdesigns.com/">Visitar sitio web</a>
                </p>
              </div>
            </figcaption>
          </figure>
        </div>

        <div data-aos="fade-up-right" class="cardPortfolio col-lg-6 d-flex justify-content-center">
          <figure class="work">
            <img [src]="'assets/portfolio/eclas.png'" alt="capture" />
            <figcaption>
              <div>
                <h5>Inversiones &nbsp; <span>Eclas</span></h5>
                <p>Desarrollo y diseño web
                  <a class="d-block" target="_blank" href="http://inversioneseclas.ga/">Visitar sitio web</a>
                </p>
              </div>
            </figcaption>
          </figure>
        </div>

        <div data-aos="fade-up-left" class="cardPortfolio col-lg-6 d-flex justify-content-center">
          <figure class="work">
            <img [src]="'assets/portfolio/trapitosbebe.png'" alt="capture" />
            <figcaption>
              <div>
                <h5>Trapitos &nbsp; <span>Bebé</span></h5>
                <p>Desarrollo y diseño web
                  <a class="d-block" target="_blank" href="http://trapitosbebe.ga/">Visitar sitio web</a>
                </p>
              </div>
            </figcaption>
          </figure>
        </div>


      </div>
    </section>

    <section data-aos="fade-up" class="resume container-fluid">
      <h2>Mi resumen</h2>
      <mat-card class="row cardGeneral d-flex justify-content-around p-0 pb-3">

        <div data-aos="fade-right" class="experience col-lg-8">
          <h3 class="my-4">Historia de trabajos</h3>
          <div class="timeline">
            <div class="timeline-body">
              <div class="timeline-item">
                <p class="time">Jul. 2019</p>
                <div class="content">
                  <h4 class="title">PideSpeed</h4>
                  <p> Aplicación web para una tienda de delivery online. Trabajé como diseñador y desarrollador web,
                    creando una web a medida y con diseño responsive que cumplieron con el
                    objetivo de impactar positivamente a los clientes. Para llevar a cabo este proyecto utilicé mis
                    habilidades y experiencias con el framework angular.</p>
                </div>
              </div>
              <div class="timeline-item">
                <p class="time">Febr. 2019</p>
                <div class="content">
                  <h4 class="title">DevelDesigns</h4>
                  <p>Sitio web de una agencia de diseño y desarrollo web, en la cual soy co-fundador. Las animaciones
                    basadas en el desplazamiento mejoran el
                    sitio web de escritorio y en dispositivos móviles. Un sitio web hecho con HTML5, CSS3 y JavaScript
                    hace que la
                    experiencia sea perfecta.</p>
                </div>
              </div>
              <div class="timeline-item">
                <p class="time">Dic. 2018</p>
                <div class="content">
                  <h4 class="title">Inversiones Eclas C.A</h4>
                  <p>Desarrollo de front-end de sitio web para una compañía de construcción en Venezuela. Un sitio web
                    realizado con HTML5, CSS3, y JavaScript con una muy buena experiencia de usuario.</p>
                </div>
              </div>
              <div class="timeline-item">
                <p class="time">Sep. 2018</p>
                <div class="content">
                  <h4 class="title">Trapitos bebé C.A</h4>
                  <p>Diseño y desarrollo de sitio web para una tienda de ropa de bebé. El sitio web fue desarrollado
                    con HTML5, CSS3, y JavaScript.</p>
                </div>
              </div>


            </div>
          </div>
        </div>
        <div data-aos="fade-left" class="skills col-lg-4">
          <h3 class="text-center py-4">Mis habilidades</h3>

          <mat-card class="card-info-datos">

            <mat-card-title>HTML 5</mat-card-title>
            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
         
          
            <mat-card-title class="pt-3">CSS 3</mat-card-title>
            <mat-progress-bar mode="determinate" value="90"></mat-progress-bar>
         
          
            <mat-card-title class="pt-3">JavaScript</mat-card-title>
            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
         
          
            <mat-card-title class="pt-3">TypeScript</mat-card-title>
            <mat-progress-bar mode="determinate" value="60"></mat-progress-bar>
         
          
            <mat-card-title class="pt-3">Jquery</mat-card-title>
            <mat-progress-bar mode="determinate" value="75"></mat-progress-bar>
         
          
            <mat-card-title class="pt-3">Angular</mat-card-title>
            <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
         
          
            <mat-card-title class="pt-3">Bootstrap</mat-card-title>
            <mat-progress-bar mode="determinate" value="85"></mat-progress-bar>
          </mat-card>
          <br>
          <mat-card class="card-info-datos my-3">
            <mat-card-title class="text-center">Idiomas</mat-card-title>
            <mat-card-title>Español</mat-card-title>
            <mat-progress-bar mode="determinate" value="100"></mat-progress-bar>
            <mat-card-title class="pt-3">Inglés</mat-card-title>
            <mat-progress-bar mode="determinate" value="65"></mat-progress-bar>
          </mat-card>

          <a target="_blank" [routerLink]="[ '/assets/CV/Curriculum-vitae-es.pdf']" class="buttonTypeOne rounded-pill btnCV"
            mat-raised-button>Descargar
            CV</a>


        </div>

      </mat-card>
    </section>

  

    <section data-aos="fade-up" id="contact" class="contacto container-fluid">
      <h2>Contacto</h2>
      <mat-card class="row cardGeneral">


        <agm-map [latitude]="lat" [longitude]="lng">
          <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>


        <ng-container *ngIf="sendCorrect; then Enviado; else NoEnviado"></ng-container>
        <ng-template #NoEnviado>
          <p class="p-lg-4 py-3">Si tiene alguna pregunta, no dude en ponerse en contacto con el formulario a continuación o directamente a
            mi
            correo electrónico: <a style="color: var(--azulPrincipal);"
              href="mailto:lgsc2109@gmail.com">Lgsc2109@gmail.com</a>.</p>
          <form data-aos="zoom-out" [formGroup]="contactoForm" (ngSubmit)="contact(contactoForm)" class="row p-lg-3 formContacto">

            <mat-form-field appearance="outline">
              <mat-label class="label">Nombre</mat-label>
              <input formControlName="name" type="text" matInput placeholder="Tu nombre">
              <mat-error *ngIf="contactoForm.controls['name'].errors?.required">Este campo es <b>obligatorio</b>
              </mat-error>
              <mat-error *ngIf="contactoForm.controls['name'].errors?.pattern">No es un <b>nombre válido</b></mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="label">Email</mat-label>
              <input formControlName="email" type="email" matInput placeholder="correo@correo.com">
              <mat-error *ngIf="contactoForm.controls['email'].errors?.required">Este campo es <b>obligatorio</b>
              </mat-error>
              <mat-error *ngIf="contactoForm.controls['email'].errors?.pattern">No es un <b>email válido</b>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
              <mat-label class="label">Mensaje</mat-label>
              <textarea formControlName="message" matInput></textarea>
              <mat-error *ngIf="contactoForm.controls['message'].errors?.required">Este campo es <b>obligatorio</b>
              </mat-error>
              <mat-error *ngIf="contactoForm.controls['message'].errors?.minlength">No es un <b> mensaje valido</b>
              </mat-error>
            </mat-form-field>
            <button [disabled]="!contactoForm.valid" type="submit" class="buttonTypeOne" mat-stroked-button>Enviar <i
                class="material-icons">
                arrow_right_alt
              </i></button>
          </form>
        </ng-template>
        <ng-template #Enviado>

          <mat-card data-aos="zoom-in-up"
            class=" NoEnviado my-2 row cardGeneral d-flex justify-content-around align-items-center">
            <ng-container *ngIf="lazyloader; then cargando; else Send"></ng-container>
            <ng-template #cargando>
              <div class="lazyloader"></div>
            </ng-template>
            <ng-template #Send>
              <mat-card-content data-aos-duration="1500" class="col-lg-6 mensajeCorrecto ">
                <h2 class="text-center">Mensaje enviado</h2>
                <i class="fas fa-paper-plane"></i>
                <p>Gracias por contactarme! Te respondere lo mas pronto posible!</p>
              </mat-card-content>
              <img mat-card-image [src]="'assets/svg/send.svg'" class="col-lg-6" style="width: 700px">
            </ng-template>
          </mat-card>
        </ng-template>
      </mat-card>
    </section>

  </main>
  <footer class="py-4">
    <section class="row container mx-auto d-flex justify-content-around align-items-center">
      <div class="logo col-lg-6">
        Luisgustavosc
      </div>
      <div class="RedesFooter row col-lg-6">
        <h4 class="text-center col-12">Redes sociales</h4>

        <div class="redesContenido d-flex justify-content-around align-items-center py-2">
          <a matTooltip="Luis Gustavo" matTooltipClass="social-media-tooltip" target="_blank" class="fab fa-facebook-f"
            href="https://www.facebook.com/luisgustavo.sanchezcabrera"></a>
          <a matTooltip="@luisgustavosc" matTooltipClass="social-media-tooltip" target="_blank" class="fab fa-instagram"
            href="https://www.instagram.com/luisgustavosc/"></a>
          <a matTooltip="@LuisGustavosc21" matTooltipClass="social-media-tooltip" target="_blank" class="fab fa-twitter"
            href="https://twitter.com/LuisGustavosc21"></a>
            <a  matTooltipClass="social-media-tooltip" matTooltip="Luisgustavosc" target="_blank" class="fab fa-linkedin-in"
            href="https://www.linkedin.com/in/luisgustavosc/"></a>
          </div>
      </div>
    </section>
    <div class="copyRight">
      © 2019, Desarrollado y diseñado por Luis gustavo.
    </div>
  </footer>
</div>
